// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.swiper {
    width: 100%;
    height: auto;
    .swiper-button-prev,
    .swiper-button-next {
        color: "#666666";
    }
}
.nav {
    display: flex;
    flex: 1;
    height: 75px;
    justify-content: center;
    word-wrap: break-word;
    align-items: center;
    .cont-fluid {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        .nav-brand {
            font-size: 26px;
            color: black;
            flex: 1;
        }
        .listMenu {
            flex: 1;
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                li {
                    text-decoration: none;
                    // align-items: center;
                    a {
                        font-size: 16px;
                        color: black;
                    }
                }
            }
        }
    }
}
#novidade,
#contato,
#sobre {
    display: flex;
    justify-content: center;
}
.space {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-content: center;
    .column {
        display: flex;
        flex-direction: column;
        // flex: 1;
        justify-content: center;
    }
    hr {
        // justify-content: flex-start;
        width: 15%;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 15px;
    }
}
.center {
    display: flex;
    justify-content: center;
}
button {
    border: none;
    padding: 5px;
}

#novidade {
    margin-top: 20px;
    color: white;
    .card-image {
        display: flex;
        flex: 1;
        min-width: 200px;
        min-height: 200px;
        flex-wrap: wrap;
        margin: 20px;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.background-black {
    background-color: rgb(17, 17, 17);
    height: 200px;
    margin-bottom: 250px;
}
.btn-black {
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    margin-bottom: 40px;
}
.btn-white {
    background-color: rgb(17, 17, 17);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.title-image-white,
.title-image-transparent {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 120px;
    height: 120px;
    text-transform: uppercase;
}
.title-image-white {
    background-color: white;
    a {
        color: rgb(17, 17, 17);
    }
}
.title-image-transparent {
    background-color: rgb(17, 17, 17, 0.8);
    a {
        color: white;
    }
}
.img-contato {
    max-width: 100vw;
    height: 370px;

    display: flex;
    flex-wrap: wrap;
    button {
        background-color: transparent;
        color: white;
        font-size: 34px;
    }
}
.alinharCentro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.center-contato {
    display: flex;
    justify-content: center;
}
